html, body {
	margin: 0;
}

/*------ NAV BAR ------------------------------*/
.navbar {
	padding: 0 !important;
  margin: 0!important;
  min-width: 700px;
}

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: white;
  margin:0px;
  margin-bottom: 0px !important;
  padding: 0;
  width: 100%;
  height: 20%;
  padding: 10px 10px !important;
  border-bottom: 1px;
  border-left: 0px;
  border-right:0px;
  border-top: 0px;
  border-color: black;
  border-style: solid;
  font-family:'Oswald', sans-serif;
  font-size: 21px;
}

li{
	float: left;
}
li {
	display: inline;
}

li a {
  color: black;
  padding: 15px 15px;
  text-decoration: none;
  list-style-type: none;
}

li a:hover {
	color: white;
}
li a:hover:not(.active) {
  background-color: #202020;
}
.active {
  background-color: #ec7f37;
}

.sticky{
	position:-webkit-sticky;
	position: sticky;
	top:0;
}
/*------------------------------------------------*/


.container2 {
	max-width: 1700px;
	min-width: 700px;
	margin: 0 auto;
	background: white;
	font-size: 24px;
	padding: 0;
	margin-right: 0;

}

.parallax {
    background: url('profile.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 690px;
    display: flex;
	align-items: center;
	justify-content: center;
   
}

.name {
	font-size: 40px;
}

.container3 {
  height: 170px;
  width: 400px;
  color: black;
  background-color: #fbf7f5;
  text-align: center;
  font-family:'Oswald', sans-serif;
  margin: auto;
 }


.container1 {
	max-width: 1700px;
	min-width: 700px;
	margin: 0 auto;
	background: #FBFBFB;
	font-size: 24px;
	padding: 10px 50px;
	margin-right: 0;
}

.about {
	font-family:'Oswald', sans-serif;
	margin-top: 25px;
}
.aboutme {
	font-size: 40px;
}
.location {
	font-family:'Oswald', sans-serif;
	font-size: 40px;
}

.parallax1 {
    background: url('praha2.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 410px;  
}
/*########################Skills###################################*/
.container4 {
  max-width: 1700px;
  min-width: 700px;
  margin: 0 auto;
  background: white;
  font-size: 24px;
  padding: 10px 50px;
  margin-right: 0;
}
.skills {
  font-family:'Oswald', sans-serif;
  font-size: 40px;
}

/*------------Footer ---------------*/
.container4 {
  background-color: white;
  color: black;
  text-align: left;
  font-family:'Oswald', sans-serif;
  margin-top: 10px;
  padding-top: 20px;
  border-bottom: 0px;
  border-left: 0px;
  border-right:0px;
  border-top: 1px;
  border-color: black;
  border-style: solid;
}
.container5{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  
}

.linkedin {
  text-decoration: none;
  color: black;
}

.linkedin:hover {
  color:#ec7f37; 
} 

/*hr {
  margin: auto;
}*/

.iconify {
  margin: 7px;
  color: white;
  background-color: black;
  width: 35px;
  height: 30px;
  padding: 2px;
}

.contact {
  font-family:'Oswald', sans-serif;
  font-size: 40px;
}

.email {
  text-decoration: none;
}